/api/venv
/api/src/**/__pycache__
/api/src/**/migrations
/frontend/node_modules
/frontend/dist
/frontend/tmp
/nginx/nginx.conf
/nginx/logs
/nginx/static
/tmp
/TAGS
/.env.makefile
.env
*~
.env.bak
.*.secondary
